
.container1{
font-size: 18px;
font-weight: bold;
font-family: serif;
border: 1px whitesmoke solid;
background-color:  rgb(4, 9, 38);
align-items: center;
width:600px;
height: 600px;
text-align: center;
border-radius: 15%;
}
.btn{
  font-size: 1rem;
  font-weight: bold;
  margin: 5px;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
}
#email{
  padding-right: 30px;
}

 body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(29, 33, 57);
  color: whitesmoke;
 }